@model BeStreet.Models.Customer
@{

    Layout = "_AdminLayoutEdit";
    <title>Delete Customers</title>
}

@{
    var stext = ViewBag.stext;
}


<div class="d-sm-flex align-items-center justify-content-between mb-5">
    <h1 class="h3 mb-2 text-gray-800">Sterge client</h1>
</div>

<div class="row">
    <div class="row mb-4">
        <div class="col-xl-8 col-lg-7">

        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="position-absolute bottom-0 end-0">
                <form asp-action="DeletePost">
                    <a class="btn btn-outline-primary" asp-action="Index">Inapoi la lista</a>
                    <input type="hidden" asp-for="CusId" /> @* CusId *@
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Informații clienti</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 mr-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Media</h6>
                            </div>

                            <div class="card-body">
                                <div class="card" style="border: 1px dashed #9d9da0; border-spacing: 50px">
                                    <div class="card-body">
                                        <div class="mx-auto">
                                               <img src="@ViewBag.ImgFile" class="card-img-top" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="d-sm-flex align-items-center justify-content-between mb-5">
                            <h1 class="h3 mb-2 text-gray-800">Forma client</h1>
                        </div>
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="CusId" class="control-label">Client Id Nr</label>
                                <input asp-for="CusId" class="form-control" disabled />
                                <span asp-validation-for="CusId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CusName" class="control-label">Nume și prenume</label>
                                <input asp-for="CusName" class="form-control" disabled />
                                <span asp-validation-for="CusName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CusLogin" class="control-label">Username Id</label>
                                <input asp-for="CusLogin" class="form-control" disabled />
                                <span asp-validation-for="CusLogin" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CusPass" class="control-label">Parola</label>
                                <input asp-for="CusPass" class="form-control" disabled />
                                <span asp-validation-for="CusPass" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CusEmail" class="control-label">Email</label>
                                <input asp-for="CusEmail" class="form-control" disabled />
                                <span asp-validation-for="CusEmail" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="StartDate" class="control-label">Data inceput</label>
                                <input asp-for="StartDate" class="form-control" placeholder="yyyy-MM-dd" disabled />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="LastLogin" class="control-label">Data sfirsit</label>
                                <input asp-for="LastLogin" class="form-control" placeholder="yyyy-MM-dd" disabled />
                                <span asp-validation-for="LastLogin" class="text-danger"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
