@model IEnumerable<BeStreet.Domain.Entities.ViewModels.PdFilterVM>

@{
    HashSet<int> displayedIds = new HashSet<int>();
}
@foreach (var item in Model)
{
    var pdimg = "/wwwroot/imgpd/P" + item.PdId + item.ColorId + item.SizeId + ".png";

    if (!displayedIds.Contains(item.PdId))
    {
        displayedIds.Add(item.PdId);
    }
    else
    {
        continue;
    }

    List<string> size = new List<string>();
    List<string> colors = new List<string>();

    foreach (var otherItem in Model)
    {
        if (otherItem.PdId == item.PdId)
        {
            size.Add(otherItem.SizeName);
            colors.Add(otherItem.ColorName);
        }
    }

    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt-3">
        <div class="card px-3 py-3">
            <img src="@pdimg" class="card-img-top img-fluid object-fit-cover" style="height:30vh" alt="...">
            <hr />
            <div class="card-body">
                <h5 class="card-title text-truncate">@item.PdName</h5>
                <p class="card-subtitle text-muted">Culoare: @string.Join(",", colors.Distinct())</p>
                <p class="card-subtitle text-muted">Marime: @string.Join(",", size.Distinct())</p>

                <a class="btn btn-btn-link" href=@Url.Action("Show", "Product", new { id = item.PdId})>Detalii</a>
                <a href=@Url.Action("AddDtl", "Cart", new { pdid = item.PdId, qty = 1 }) class="text-danger float-end"><i class="bi bi-cart-plus-fill"></i></a>
            </div>
        </div>
    </div>
}