@model BeStreet.Models.Customer

@{
    ViewData["Title"] = "Profil";
}

<div class="container">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData.Peek("SuccessMessage")
        </div>
    }

    <div class="mt-2 text-muted">
        <h1>Informații personale</h1>
    </div>
    <div class="row">
        <div class="row mb-4">
            <div class="col-xl-8 col-lg-7">

            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="position-relative">
                    <div class="position-absolute bottom-0 end-0">
                        <a class="btn btn-outline-primary" @Url.Action("Index", "Home")>Inapoi</a>
                        <a class="btn btn-outline-primary" @Url.Action("Show")>Actualizeaza</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="d-sm-flex align-items-center justify-content-between mb-2">
                                <h1 class="h3 mb-2 text-muted">Detalii</h1>
                            </div>
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group  mb-2">
                                    <input type="hidden" asp-for="CusId" class="form-control" />
                                    <span asp-validation-for="CusId" class="text-danger"></span>
                                </div>
                                <div class="form-group  mb-2">
                                    <label class="control-label">Numele și prenumele </label>
                                    <input asp-for="CusName" class="form-control" placeholder="Nume și prenume" required />
                                    <span asp-validation-for="CusName" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-2">
                                    <label class="control-label">Username</label>
                                    <input asp-for="CusLogin" class="form-control" disabled />
                                    <span asp-validation-for="CusLogin" class="text-danger" placeholder="Username"></span>
                                    <input type="hidden" asp-for="CusLogin" class="form-control" />
                                </div>
                                <div class="form-group mb-2">
                                    <label class="control-label">Parola</label>
                                    <input asp-for="CusPass" class="form-control" placeholder="Parola" required />
                                    <span asp-validation-for="CusPass" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-2">
                                    <label class="control-label">Email</label>
                                    <input type="email" asp-for="CusEmail" class="form-control" placeholder="Email" required />
                                    <span asp-validation-for="CusEmail" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-2">
                                    <label class="control-label">Adresa</label>
                                    <textarea asp-for="CusAdd" class="form-control" rows="4" placeholder="Adresa"></textarea>
                                    <span asp-validation-for="CusAdd" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-2">
                                    <input type="hidden" asp-for="StartDate" class="form-control" placeholder="yyyy-MM-dd" disabled />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-2">
                                    <input type="hidden" asp-for=" LastLogin" class="form-control" placeholder="yyyy-MM-dd" disabled />
                                    <span asp-validation-for="LastLogin" class="text-danger"></span>
                                </div>
                                <br>
                                <div class="mb-3">
                                    <input class="btn btn-success" type="submit" value="Salveaza" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>